<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon icon-cogs"></span>
				<h1><a href="#">{{name}}</a></h1>
				<span><a href="mailto:{{email}}" rel="nofollow">{{email}}</a></span></div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Profile</a></li>
					<li><a href="#" accesskey="2" title="">Add to Network</a></li>
					<li><a href="#" accesskey="3" title="">Add to Project</a></li>
					<li><a href="#" accesskey="4" title="">Contact {{name}}</a></li>
					<li><a href="#" accesskey="5" title="">Edit Profile</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
				<h2>About Me</h2>
			</div>
			<p>{{info}}</p>
		</div>
	</div>
	<div id="wrapper3">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Network with {{name}}</h2>
				<span class="byline">More interaction features coming soon!</span> </div>
			<div class="column1">
				<div class="box">
					<span class="icon icon-wrench"></span>
					<h3>Work on Project</h3>
					<p>Add {{name}} to an existing project or invite them to create a new one!</div>
			</div>
			<div class="column2">
				<div class="box">
					<span class="icon icon-trophy"></span>
					<h3>Send gift</h3>
					<p>Send a gift or trade with {{name}}</div>
			</div>
			<div class="column3">
				<div class="box">
					<span class="icon icon-key"></span>
					<h3>Send Private message</h3>
					<p>Shoot message across to {{name}}</div>
			</div>
			<div class="column4">
				<div class="box">
					<span class="icon icon-lock"></span>
					<h3>Block</h3>
					<p>Unfollow {{name}} across all networks!</div>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="container">
	<div class="title">
		<h2>Get in touch</h2>
		<span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span> </div>
	<ul class="contact">
		<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
		<li><a href="#" class="icon icon-facebook"><span></span></a></li>
		<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
		<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
		<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
	</ul>
</div>
<div id="copyright" class="container">
	<p>&copy; {{name}}. All rights reserved. | Dreams Collective </p>
</div>
</body>
</html>
