<!DOCTYPE html>
<html lang="en" class="no-js"  style="background : #fff;">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/simplegrid.css') }}">
		<link type='text/css' href="{{ url_for('static', filename='dashboard/osx.css') }}" rel='stylesheet' media='screen' />
		<script type='text/javascript' src="{{ url_for('static', filename='dashboard/jquery.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='dashboard/jquery.simplemodal.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='dashboard/osx.js') }}"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/d3.hexbin.v0.min.js"></script>
		<title>{{user}}</title>
	</head>
	<body style="background : #fff;">

		<div id="osx-modal-content">
			<ul class="banner">
			            <li class="darkblue"></li>
			            <li class="lightblue"></li>
			            <li class="aqua"></li>
			            <li class="orange"></li>
			            <li class="grey"></li>
			            <li class="lightgrey"></li> 
			          </ul>
			<div id="osx-modal-title">Add New Subject</div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="osx-modal-data">
				<form action = "" method="post">
           		 	{{ form.hidden_tag() }}
             
            		{{ form.subject_name(class_ = 'inputbox', placeholder = "Subject Name") }}
            	 </br>
           			 {{ form.subject_des(class_ = 'inputbox', placeholder = "A few lines about the subject")  }}
             	 </br>
            <input class = "button" type="submit" value="Add Subject">
          </form>
			</div>
		</div>

		<div id='content'>
		<div id='osx-modal'>

		<div class="grid grid-pad">
		    <div class="col-3-12">
		       <div id = "contextual" class="content">
		       		<ul class="banner">
			            <li class="darkblue"></li>
			            <li class="lightblue"></li>
			            <li class="aqua"></li>
			            <li class="orange"></li>
			            <li class="grey"></li>
			            <li class="lightgrey"></li> 
			          </ul>
		           <div id = "brand">
		           		<img id = "logo" src="{{ url_for('static', filename='dashboard/logo.png') }}">
		          	 	<div id = "pilot">pilot</div>
		           </div>


		           <div id = "profile">
		           	
		           		<img src="{{avatar}}" id = "avatar">
		           	<div id = "info">	
		           		<h3>{{user}}</h3><br>
		           		<h5>Last Seen : {{lastseen}}</h5>
		           	</div>
		           </div>

		           <div id = "context">
		           		<h6>Recent Activity</h6>

		         		<div id = "aside">
		         			<li>
		         				Line Equations
		         				<div id = "thinbar"><div id = "bar" style = "width: 33%;"></div></div>
		         			</li>
		         			<li>
		         				Quadratics
		         				<div id = "thinbar"><div id = "bar" style = "width: 67%;"></div></div>
		         			</li>
		         		</div>

		         		

		           </div>

		           <div id = "actions">
		         		<div id = "leftt"><a href = "/logout">Log Out</a></div>
		         		<div id = "rightt"><a href = "/settings">Settings</a></div>		
		         	</div>

	        	</div>
			</div>



		    <div class="col-9-12">
		       <div id = "main" class="content">
		           <ul class="banner">
			            <li class="darkblue"></li>
			            <li class="lightblue"></li>
			            <li class="aqua"></li>
			            <li class="orange"></li>
			            <li class="grey"></li>
			            <li class="lightgrey"></li> 
			          </ul>

			          <div>
			          		<div id = "text">
			          			My Activity Snapshot
			          		</div>
			          		<div id = "midbar">
			          		
			          		<ul class="featurestats">
			          			<li><span>06</span> Lessons Completed</li>
			          			<li><span>10</span> Course Review Requests</li>
			          		</ul>

			          			<div id = "statbox">
			          			
					         			<li>
					         				Line Equations
					         				<div id = "thinbar"><div id = "bar" style = "width: 33%;"></div></div>
					         			</li>
					         			<li>
					         				Basics of Algebra
					         				<div id = "thinbar"><div id = "bar" style = "width: 67%;"></div></div>
					         			</li>
					        
			          			</div>

			          		</div>
			          		
			          		<div>
			          			<!--<div id="chart"></div>-->

			          			<ol id = "subject_list">
			          			{% for subject in subjects_show %}
			          				<div id = "subject"><li><a href = "/teacher/concept/{{subject.id}}">{{subject}}<span><br>Last Seen: Today</span></li></a></div>	
			          			{% endfor %}
			          				<div id = "subject"><li><a href ="#" class='osx'> Add Subject <span><br>Click here</span></a></li></div>
			          			</ol>


<!--<script>
			          			var elementTags = ["Set 1", "Set 2", "Set 3", "Set 4", "Set 5", "Set 6", "Set 7", "Set 8", "Set 9", "Set 10", "Set 11", "Set 12", "Set 13", "Set 14", "Set 15", "Set 16", "Set 17", "Set 18", "Set 19"];
	var subSet1 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet2 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet3 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet4 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet5 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet6 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet7 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet8 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet9 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet10 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet11 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet12 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet13 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet14 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet15 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet16 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet17 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet18 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var subSet19 = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var elementInner = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S"];
	var _s32 = (Math.sqrt(3)/2);
	var A = 75;
	var xSort = 117.5;
	var ySort = 67.5;
	var atHome = true;
	var homeButtonText = ["Home"];
	var svgContainer = d3.select("body")
        .append("svg")
        .attr("width", 1000)
        .attr("height", 1000);
   var xCenter = Number(d3.select("svg").attr("width"))/2;
   		xCenter = xCenter ;
   var yCenter = Number(d3.select("svg").attr("height"))/2;
   yCenter = yCenter;
	
  

	var xDiff = [xCenter, 
		xCenter+xSort,
		xCenter+xSort*2,
		xCenter-xSort,
		xCenter+xSort,
		xCenter-xSort,
		xCenter+xSort,
		xCenter+xSort*2,
		xCenter-xSort*2,
		xCenter-xSort,
		xCenter-xSort,
		xCenter+xSort,
		xCenter+xSort,
		xCenter,
		xCenter,
		xCenter+xSort*2,
		xCenter-xSort*2,
		xCenter+xSort*2,
		xCenter-xSort*2];
	var yDiff = [yCenter,
		yCenter+ySort,
		yCenter,
		yCenter-ySort,
		yCenter-ySort,
		yCenter+ySort,
		yCenter+ySort,
		yCenter,
		yCenter,
		yCenter-ySort*3,
		yCenter+ySort*3,
		yCenter-ySort*3,
		yCenter+ySort*3,
		yCenter-ySort*4,
		yCenter+ySort*4,
		yCenter+ySort*2,
		yCenter+ySort*2,
		yCenter-ySort*2,
		yCenter-ySort*2];
for (index = 0; index < elementTags.length; index++) {
    var pointData = [
        [A+xDiff[index], 0+yDiff[index]],
        [A/2+xDiff[index], (A*_s32)+yDiff[index]],
        [-A/2+xDiff[index], (A*_s32)+yDiff[index]],
        [-A+xDiff[index], 0+yDiff[index]],
        [-A/2+xDiff[index], -(A*_s32)+yDiff[index]],
        [A/2+xDiff[index], -(A*_s32)+yDiff[index]],
        [A+xDiff[index], 0+yDiff[index]]];
        
        var hexMouseOver = function(){
        	d3.select(this).style("fill", "#ccc")
        					.style("stroke-width", 2);
        }
        
        var hexMouseOut = function(){
        	d3.select(this).style("fill", "#ddd")
        					.style("stroke-width", 2);
        }
        
        var dispInner = function(d, i) {
        		if(atHome == true){
        		atHome = false;
        		homeButton.style("display", "block");
        		var storedID = d3.select(this).attr("id");
        		console.log(storedID);
        		        	var n;
        					n = String(storedID.replace("hex-", ""));
        					n = Number(n);
        					n++;
        					n = String(n);
        					n = String("subSet"+n);
        					
        					
        			var x = (d3.select(this).attr("id").replace("hex-", "rect-"));
        			x = String("#"+x);
        			//d3.select(x).style("display", "block").style("fill", "rgb(100,100,100)");
        		
        			for(changeIndex = 0; changeIndex < elementTags.length; changeIndex++) {
        				var y = String(changeIndex);
        				y = String("hex-"+changeIndex);
        				y = String("#"+y);
        				//d3.select(y).style("fill", "red");
        				//d3.select(y).data(subSet1[changeIndex]);
        				var z = String(changeIndex);
        				z = String("mainText-"+changeIndex);
        				z = String("#"+z);
						d3.select(z).text(function(d,i){
							return n[changeIndex];
						});
        				}
        		}
        	}
    var enterElements = svgContainer.selectAll("path.area") //draw element
        .data([pointData]).enter().append("path")
        .style("fill", "#ddd")
        .style("stroke", "#fff")
        .style("stroke-width", 2)
        .attr("d", d3.svg.line())
        .style("shape-rendering", "auto")
        .attr("id", function(d,i){
				return "hex-"+index;
			})
        .on("mouseover", hexMouseOver)
        .on("mouseout", hexMouseOut)
        .on("mousedown", dispInner);
}


	var homeButton = svgContainer.selectAll("circle").data(homeButtonText).enter().append("circle");
	
											var backHome = function(){
												atHome = true;
												homeButton.style("display", "none");
											addText
												.attr("x", function(d, i){
													return xDiff[i];})
												.attr("y", function(d, i){
													return yDiff[i]+5;})
												.attr("id", function(d,i){
													return "mainText-"+i;
												})
												.attr("font-family", "Arial Black")
												.attr("font-size", "20px")
												.attr("fill", "1A2E40")
												.style("text-anchor", "middle")
												.text(function(d, i){return d;});
										}
	var buttonElement = homeButton.attr("cx", 115)
									.attr("cy", 85)
									.attr("r", 50)
									.attr("fill", "#ddd")
									.style("display", "none")
									.on("mousedown", backHome);


    var addText = svgContainer.selectAll("text").data(elementTags).enter().append("text");

	var textElements = addText
				.attr("x", function(d, i){
					return xDiff[i];})
				.attr("y", function(d, i){
					return yDiff[i]+5;})
				.attr("id", function(d,i){
					return "mainText-"+i;
				})
				.attr("font-family", "Proxima Nova")
				.attr("font-size", "20px")
				.attr("fill", "#fff")
				.style("text-anchor", "middle")
				.text(function(d, i){return d;});
				
											
							</script>	-->
			          		</div>
			          </div>
		       </div>
		    </div>
		</div>
		</div>
		</div>
	</body>
</html>

