<!doctype HTML>
<html>
	<head>
	<title>Pilot</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
			<div class="switch">
					<ul class="banner">
						<li class="darkblue"></li>
						<li class="lightblue"></li>
						<li class="aqua"></li>
						<li class="orange"></li>
						<li class="grey"></li>
						<li class="lightgrey"></li>	
					</ul>
				
				<div class="demo">
					<a href="/teacher"><div id="t">T</div></a>
					<a href="/student"><div id="s">S</div></a>
					<div class="clearfix"></div>
				</div>
				<div class="actions">
					<a id = "login" href="/login">LOG IN</a>
					<a id = "signup" href="/signup">SIGN UP</a>
				</div>
				
				
			</div>		
	</body>
</html>
