{% extends "public_view.html" %}
{% block title %}Log In{% endblock %}
{% block head %}
{% endblock %}
{% block c %}
class="active"
{% endblock %}
{% block content %}
    <h2>sign in</h2>
     
      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
       
      {% for message in form.password.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
       
       <form action = "" method="post">
        {{ form.hidden_tag() }}
         
        {{ form.email(class_ = 'inputbox', placeholder = "ENTER EMAIL") }}
         
        {{ form.password(class_ = 'inputbox', placeholder = "•••••••••••") }} </br>
         
        <input class = "button" type="submit" value="Login">
      </form>
{% endblock %}