{% extends "public_view.html" %}
{% block title %}Log In{% endblock %}
{% block head %}
{% endblock %}
{% block c %}
class="active"
{% endblock %}
{% block content %}
    <div id="form_holder">
    <h2>sign in</h2>
     
      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
       
      {% for message in form.password.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
       
       <form action = "" method="post">
        {{ form.hidden_tag() }}
         
        {{ form.email(class_ = 'form-control', placeholder = "Your email please...") }}
           </br>
        {{ form.password(class_ = 'form-control', placeholder = "•••••••••••") }} </br>
         
        <input type="submit" class="btn btn-default btn-lg" value="Log In">
      </form>
      </div>
{% endblock %}