{% extends "public_view.html" %}
{% block title %}{{user.firstname}} {{user.lastname}}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3" id="left-bar">
         	<div id="TaskSummary">
         		<div id = "spacer150"></div>
         		<h4>Project Curiosity</h4>
         			<div id = "tasks">
	         		<p class="muted">This content is muted</p>
					<p class="text-warning">This content carries a warning class</p>
					<p class="text-error">This content carries an error class</p>
					<p class="text-info">This content carries an info class</p>
					<p class="text-success">This content carries a success class</p>
					<p>This content has <em>emphasis</em>, and can be <strong>bold</strong></p>
					</div>
         		<h4>Dreams Collective</h4>
	         		<div id = "tasks">
	         		<p class="muted">This content is muted</p>
					<p class="text-warning">This content carries a warning class</p>
					<p class="text-error">This content carries an error class</p>
					<p class="text-info">This content carries an info class</p>
					<p class="text-success">This content carries a success class</p>
					<p>This content has <em>emphasis</em>, and can be <strong>bold</strong></p>
					</div>
         	</div>
        </div>
  		<div class="col-md-9" id="right-bar">
  			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			   <div class="modal-dialog">
			      <div class="modal-content">
			         <div class="modal-header">
			         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            			<h4 class="modal-title" id="myModalLabel">Send {{user.firstname}} a message!</h4> 
            		 </div>
         			 <div class="modal-body">
						<form action="" method="post" name="message" enctype="multipart/form-data">
				  			{{ message.message(class_ = 'message-box', placeholder = "Say hello") }}
				  			{{ message.message_image() }}
				  			<input type="hidden" name="username" id="sendto" value="{{user.firstname}}" />		
         			 </div>
         			 <div class="modal-footer">
            			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            			<button type="submit" value="Post" class="btn btn-primary">Send Message!</button></form>
         			 </div>
      		      </div><!-- /.modal-content -->
		       </div><!-- /.modal -->
		    </div>
    		<h3> {{user.firstname}}'s recent activity </h3>
    		<div id = "spacer50"></div>
    		{% if post_ability == True %}
    		<form action = "" method="post" name="poster" enctype="multipart/form-data">
				<div class="jumbotron">
				<h4> Howl to the pack! </h4>
    			<div id = "spacer10"></div>
					{{ form.content(class_ = 'form-control', id = "postbox" ,placeholder = "Say Hello...") }}
					{{ form.image() }}
					<input id="post-button" type="submit" class="btn btn-md btn-primary" value="Post">
				</div>
			</form>
			{% endif %}
        	<div class="tabbable tabs-left"> 
        		<ul class="nav nav-tabs">
					<li class="active"><a href="#public" data-toggle="tab">Public Activity</a></li> 
					<li id ="profile_tab"><a href="#private" data-toggle="tab">Private Activity</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="public"> 
						{% for post in user.posts|sort(attribute='timestamp', reverse = True) %}
						{% for writer in post.writers%}
						<div id = "post-each">

						  <div id="small-profile" style="background-image:url({{writer.image_location}});"></div>
						  		<div id="post-info">
							  		<a id = "username-post" href="/{{writer.username}}">{{writer.firstname}} {{writer.lastname}}</a>
							  		<p>{{post.timestamp}}</p>
						  		</div>
						  		<div id="post-content">
						  		<p>{{post.body}}</p>
									{% if post.image != None %}
									{% if post.image.endswith('mp3') %}
									<audio controls>
							                <source src="static/uploads/{{post.author.username}}/{{post.image}}" type="audio/mp3">
							                Your browser does not support this audio format.
							        </audio>
									{% else %}
									<img id = "post-image" src = "static/uploads/{{post.author.username}}/{{post.image}}">
									{% endif %}
									{% endif %}
								</div>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
					<div class="tab-pane" id="private">
						<p>I'm in Section B.</p> 
					</div>
  				</div>
			</div>
        </div>
	</div>
  	<div id="spacer150"></div>
  	<footer>
  		<p>Pre-alpha — Dreams Collective</p>
  	</footer>
{% endblock %}
