<!DOCTYPE html>
<html>
<head>
	<title>Sign Up • Dreams Collective</title>
</head>
<body>
<h2>Sign up</h2>       
          {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
           
          {% for message in form.email.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
           
          {% for message in form.password.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          <form action = "" method="post">
            {{ form.hidden_tag() }}
             
            {{ form.name(class_ = 'inputbox', placeholder = "FULL NAME") }}
             </br>
            {{ form.email(class_ = 'inputbox', placeholder = "ENTER EMAIL")  }}
             </br>
            {{ form.password(class_ = 'inputbox', placeholder = "••••••••••")  }}
             </br>
             {{ form.repassword(class_ = 'inputbox', placeholder = "••••••••••")  }}
             </br>
            <input class = "button" type="submit" value="Sign Up">
          </form>
</body>
</html>