{% extends "public_view.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
{% endblock %}
{% block b %}
class="active"
{% endblock %}
{% block content %}
          
          <div id = "form_holder">
          <h2>Sign up</h2> 
          {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
           
          {% for message in form.email.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
           
          {% for message in form.password.errors %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          <form action = "" method="post">
            {{ form.hidden_tag() }}
             
            {{ form.name(class_ = 'form-control', placeholder = "Your full name, please...") }}
             </br>
            {{ form.email(class_ = 'form-control', placeholder = "Where can we reach you? (email)")  }}
             </br>
            {{ form.password(class_ = 'form-control', placeholder = "••••••••••")  }}
             </br>
             {{ form.repassword(class_ = 'form-control', placeholder = "••••••••••")  }}
             </br>
            <input type="submit" class="btn btn-default btn-lg">
          </form>
          </div>
{% endblock %}