<!doctype HTML>
<html>
	<head>
	<title>Pilot</title>
	<link rel="stylesheet" type="text/css" href="/static/cardview.css">
	</head>
	<body>
        <div class="header">
            Pilot 
        </div>
        <div class="bufferzone"></div>
       	<div class="card">
       		LATEST</br>
       		<span>
       			Arsalans depth radius improved by 3 points over the last week
       		</span>
       	</div>
       	
       	<div class="card">
       		Latest</br>
       		<span>Arsalans depth radius improved by 3 points over the last week</span>
       	</div>
       	
       	<div class="card">Latest</br><span>Arsalans depth radius improved by 3 points over the last week</span></div>


  	</body>    
</html>
