<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/simplegrid.css') }}">
		<link type='text/css' href="{{ url_for('static', filename='dashboard/osx.css') }}" rel='stylesheet' media='screen' />
		<script type='text/javascript' src="{{ url_for('static', filename='dashboard/jquery.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='dashboard/jquery.simplemodal.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='dashboard/osx.js') }}"></script>
		<title>{{user}}</title>
	</head>
	<body>


		<div id="osx-modal-content">
			<ul class="banner">
			            <li class="darkblue"></li>
			            <li class="lightblue"></li>
			            <li class="aqua"></li>
			            <li class="orange"></li>
			            <li class="grey"></li>
			            <li class="lightgrey"></li> 
			          </ul>
			<div id="osx-modal-title">Add New Subject</div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="osx-modal-data">
				<form action = "" method="post">
           		 	{{ form.hidden_tag() }}
             
            		{{ form.subject_name(class_ = 'inputbox', placeholder = "Subject Name") }}
            	 </br>
           			 {{ form.subject_des(class_ = 'inputbox', placeholder = "A few lines about the subject")  }}
             	 </br>
            <input class = "button" type="submit" value="Add Subject">
          </form>
			</div>
		</div>

		<div id='content'>
		<div id='osx-modal'>

		<div class="grid grid-pad">
		    <div class="col-3-12">
		       <div id = "contextual">
		       		<ul class="banner">
			            <li class="darkblue"></li>
			            <li class="lightblue"></li>
			            <li class="aqua"></li>
			            <li class="orange"></li>
			            <li class="grey"></li>
			            <li class="lightgrey"></li> 
			          </ul>
		           <div id = "brand">
		           		<img id = "logo" src="{{ url_for('static', filename='dashboard/logo.png') }}">
		          	 	<div id = "pilot">pilot</div>
		           </div>


		           <div id = "profile">
		           	
		           		<img src="{{avatar}}" id = "avatar">
		           	<div id = "info">	
		           		<h3>{{user}}</h3><br>
		           		<h5>Last Seen : {{lastseen}}</h5>
		           	</div>
		           </div>

		           <div id = "context">
		           		<h6>Recent Activity</h6>

		         		<div id = "aside">
		         			<li>
		         				Line Equations
		         				<div id = "thinbar"><div id = "bar" style = "width: 33%;"></div></div>
		         			</li>
		         			<li>
		         				Quadratics
		         				<div id = "thinbar"><div id = "bar" style = "width: 67%;"></div></div>
		         			</li>
		         		</div>

		         		

		           </div>

		           <div id = "actions">
		         		<div id = "leftt"><a href = "/logout">Log Out</a></div>
		         		<div id = "rightt"><a href = "/settings">Settings</a></div>		
		         	</div>

	        	</div>
			</div>



		    <div class="col-9-12">
		       <div id = "main" class="content">
		           <ul class="banner">
			            <li class="darkblue"></li>
			            <li class="lightblue"></li>
			            <li class="aqua"></li>
			            <li class="orange"></li>
			            <li class="grey"></li>
			            <li class="lightgrey"></li> 
			          </ul>

			          <div>
			          		<div id = "text">
			          			My Activity Snapshot
			          		</div>
			          		<div id = "midbar">
			          		
			          		<ul class="featurestats">
			          			<li><span>06</span> Lessons Completed</li>
			          			<li><span>10</span> Course Review Requests</li>
			          		</ul>

			          			<div id = "statbox">
			          			
					         			<li>
					         				Line Equations
					         				<div id = "thinbar"><div id = "bar" style = "width: 33%;"></div></div>
					         			</li>
					         			<li>
					         				Basics of Algebra
					         				<div id = "thinbar"><div id = "bar" style = "width: 67%;"></div></div>
					         			</li>
					        
			          			</div>

			          		</div>
			          		
			          		<div>

			          			<ol id = "subject_list">
			          			{% for subject in subjects_show %}
			          				<div id = "subject"><li><a href = "/teacher/topic/{{subject.id}}">{{subject}}<span><br>Last Seen: Today</span></li></a></div>	
			          			{% endfor %}
			          				<div id = "subject"><li><a href ="#" class='osx'> Add Subject <span><br>Click here</span></a></li></div>
			          			</ol>

			          		</div>
			          </div>
		       </div>
		    </div>
		</div>
		</div>
		</div>
	</body>
</html>

